@import 'import/reset';
@import 'import/variables';
@import 'import/header';
@import 'import/form';
@import 'import/main';
@import 'import/footer';
@import 'import/overlay';
@import 'import/confirmationoverlay';

html {
  font-size: 12px;
  line-height: 1.7;
}

@media screen and (min-width: @screen-m-min) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: 'Fira Sans', sans-serif;
  color: @color-d;

  // For tracking shit
  > iframe {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 500;
}

h2 {
  font-size:1.9rem;
  line-height: 2.4rem;
}


button {
  border: 0 none;
  text-shadow:none;
  border-radius: 3px;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;

}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.video-container {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe, object, embed {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
  }
}
