@color-a: #ffffff; // white
@color-b: #006666; // dark green
@color-c: #add340; // lime
@color-d: #dcdcdc; // gray
@color-e: #f5f5f5; // light gray
@color-e: #878787; // dark gray (default font color)

*{
  displaY: none
}
