#confirmation-overlay {
  top: 0;
  left: 0;
  opacity: 0;
  transition:opacity 400ms ease-in;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &:before {
    content: '';
    display: block;
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: @color-a;
    opacity: .8;
  }

  > div {
    padding: 30px 20px 20px;
    position:absolute;
    z-index: 2;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 640px;
    color: @color-a;
    overflow: hidden;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: @color-c;
      opacity: .8;
    }

    h2 {
      margin: 0 0 15px 0;
    }

    a {
      color: @color-a;
      text-decoration: underline;
    }

    strong {
      margin: 0;
      position: absolute;
      top: 1rem;
      right: 1rem;
      height: 25px;
      line-height: 25px;
      font-size: 50px;
      font-weight: 400;
      vertical-align: top;
      text-align: center;
      overflow: hidden;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: @screen-m-min) {
  #confirmation-overlay {
    > div {
      padding: 20px;
    }
  }
}

@media screen and (min-width: @screen-m-min) {
  #confirmation-overlay {
    > div {
      margin:2rem 0 2rem -320px;
      left: 50%;
      height: auto;
      opacity: 1;

      &:before {
        opacity: 1;
      }
    }
  }
}