footer {
  padding: 20px 0 10px 0;
  color: @color-d;
  background-color: @color-f;

  a {
    display: block;
    margin:0 0 5px 0;
    color: @color-b;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  span {
    float: right;
  }
}

@media screen and (min-width: @screen-m-min) {
  footer {
    a {
      display: inline-block;
      margin: 0;

      &:nth-child(2) {
        margin: 0 20px 0 0;
      }
    }
  }
}