form {

  div {
    overflow: hidden;
    margin: 0 0 12px 0;

    span {
      width: 50%;
      float: left;

      &:nth-child(odd) {
        padding: 0 10px 0 0;
      }

      &:nth-child(even) {
        padding: 0 0 0 10px;
      }
    }
  }

  input, select {
    display: block;
    width: 100%;
    border: 0 none;
    height: 30px;
    color: @color-d;
    background-color: @color-a;
    box-shadow:none;
    text-shadow:none;
    border-radius: 2px;
  }

  select {
    padding: 0 0 0 5px;
    color: @color-g;
  }

  option {
        background-color: @color-a;
  }

  input[type="text"] {
    padding: 0 5px;
  }

  input::-webkit-input-placeholder {
    color: @color-g;
  }

  input:-moz-placeholder { /* Firefox 18- */
    color: @color-g;
    opacity: 1;
  }

  input::-moz-placeholder {  /* Firefox 19+ */
    color: @color-g;
    opacity: 1;
  }

  input:-ms-input-placeholder {
    color: @color-g;
  }


  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
  input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
  input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

  button {
    margin: 0 0 0 0;
    padding: .6rem 1.5rem;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: @color-a;
    background-color: @color-b;

    &:hover {
      background-color: #007e81;
    }
  }

  > span {
    display: inline-block;
    width: 100%;
    text-align: right;
  }
}

@media screen and (min-width: @screen-m-max) {
  form {
    button {
      font-size: 1.2rem;
    }
  }
}