header {

  overflow: hidden;

  .logo-container {
    padding: 10px 0;
    background-color: @color-a;

    .inner {
      max-width: 1340px;
    }

    svg {
      display: block;
      width: 70px;
    }
  }

  .slider-container {
    position: relative;
    overflow: hidden;

    .slider-item {
      width: 100vw;
      height: 100vw;
    }

    #slider-1 {
      overflow: hidden;
      background-image: url('../../assets/img/case-foto.jpg');
      background-size: 100vw 100vw;

      .inner {
        position: absolute;
        bottom: 0;
        color: @color-a;

        span {
          display: block;
        }

        .quote {
          margin: 0 0 10px 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.3;
        }

        .name {
          margin: 0 0 5px 0;
          font-style: italic;
          line-height: 1;
        }

        .position {
          margin: 0 0 25px 0;
          line-height: 1;
        }
      }
    }

    #slider-2 {

    }
  }

  #hexagon {
    display:block;
    position: absolute;
    left: 20px;
    top: calc(~"100vw - 105px");
    z-index: 2;
    width: 100px;
    height: 121px;
  }

  [itemtype="https://schema.org/WebSite"] {
    padding: 30px 0 10px 0;
    color: @color-a;
    background-color: @color-c;

    .inner {
      margin: 0;
    }

    h2 {
      margin: 0 0 15px 0;
    }
  }
}

@media screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max){
  header {

    .slider-container {

      #slider-1 {
        background-image: url('../../assets/img/case-foto-xs.jpg');
        background-size: 100vw 100vw;
      }
    }
  }
}

@media screen and (min-width: @screen-s-min) and (max-width: @screen-m-max){
  header {

    .slider-container {
      max-height: 420px;

      #slider-1 {
        max-height: 420px;
        background: url('../../assets/img/case-foto-s.jpg') no-repeat;
        background-size: cover;
        background-position: 50% 50%;
      }
    }
  }
}

@media screen and (min-width: @screen-l-min) {

  header {

    .logo-container + div {
      overflow: hidden;
      background-color: @color-c;
    }

    .slider-container {
      position: relative;
      width: 65%;
      height: 420px;
      float: left;

      .slider-item {
        position: relative;
        width: 100%;
        height: 100%;

        .inner {
          position:absolute;

          span {
            padding: 0 167px 0 0;
          }
        }
      }

      #slider-1 {
        background-image: url('../../assets/img/case-foto-l.jpg');
        background-size: cover;
        background-position: right top;
        -webkit-transform: translate3d(0, 0, 0);
      }
    }

    [itemtype="https://schema.org/WebSite"] {
      position: relative;
      width: 35%;
      height: 420px;
      float: left;
      margin: 0 0 0 -167px;
      background-image: url('../../assets/svg/bg_header_bow.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left 50%;
      background-color: transparent;
      -webkit-transform: translate3d(0, 0, 0);

      .inner {
        margin: 0;
        padding: 0 0 0 40px;
        position: absolute;
        width: 300px;
      }
    }
  }
}

@media screen and (min-width: 1340px) {

  header {

    .slider-container {

      .slider-item {

        .inner {
          left: calc(~"(100vw - 1340px) / 2");
        }
      }
    }
  }
}

@media screen and (min-width: @screen-l-max) {

  header {

    [itemtype="https://schema.org/WebSite"] {

      .inner {
        padding-top:30px;
        width: 360px;
      }
    }
  }
}

@media screen and (min-width: @screen-m-min) and (max-width: @screen-xl-max) {

  header {

    [itemtype="https://schema.org/WebSite"] {

      .inner {
        left: 14vw;
      }
    }
  }
}

@media screen and (min-width: @screen-xxl-min){

  header {

    [itemtype="https://schema.org/WebSite"] {

      .inner {
        left: 167px;
      }
    }
  }
}
