main {

  > section {
    padding:3rem 0 1.66rem 0;

    &:nth-child(odd) {
      background-color: @color-e;
    }

    button {
      display: block;
      color: @color-b;
      background-color: @color-c;
      clear: both;

      &:hover {
        background-color: #c7e149;
      }
    }
  }

  p {
    margin: 0 0 1.2rem 0;

    button {
      margin: 10px 0 0 0;
    }
  }

  .video-container {
    display: block;
    margin: 0 0 1.2rem 0;
  }

  > div:last-child {
    padding:30px 0;
    color: @color-a;
    background-color: @color-c;
    text-align: center;

    strong {
      margin:0 0 20px 0;
      display: block;
      font-size:1.9rem;
      line-height: 2.4rem;
    }

    button {
      font-size: 1.6rem;
      line-height: 2.2rem;
      color: @color-a;
      background-color: @color-b;

      &:hover {
        background-color: #007e81;
      }
    }
  }

  h2 {
    margin: 0 0 .83rem 0;
    color: @color-b;
  }

  button {
    padding: .6rem 1.5rem;
    font-weight: 500;
  }

  figure {
    display: inline-block;
    margin: 30px 0 0 0;
    border: 0 none;
    width: 49%;
    vertical-align: top;
    text-align: center;

    &:nth-child(odd) {
      padding: 0 10px 0 0;
    }

    &:nth-child(even) {
      padding: 0 0 0 10px;
    }

    svg {
      height: 90px;
      vertical-align: top;
    }

    figcaption {
      margin: 20px 0 0 0;
      padding: 10px 0 0 0;
      border-top: 2px #dddddd solid;
      line-height: 1.3;
    }
  }
}

@media screen and (min-width: @screen-m-min) and (max-width: @screen-m-max) {

  main {
    figure {
      padding: 0 10px 0 0;
      border: 0 none;
      width: 32%;

      &:nth-child(odd) {
        padding: 0 10px 0 0;
      }

      &:nth-child(even) {
        padding: 0 10px 0 0;
      }

      &:nth-child(3n) {
        padding: 0;
      }
    }

    > div:last-child {
      padding: 30px 20px;
    }
  }
}
@media screen and (min-width: @screen-m-min){

  main {

    p {
      width:50%;
      float: left;

      &:nth-child(even) {
        padding-right: 20px;
      }

      &:nth-child(odd) {
        padding-left: 20px;
      }
    }

    button {
      clear: both;
    }
  }
}

@media screen and (min-width: 900px) {

  main {
    figure {
      padding: 0 10px 0 0;
      border: 0 none;
      width: 16.3%;

      &:nth-child(odd) {
        padding: 0 10px 0 0;
      }

      &:nth-child(even) {
        padding: 0 10px 0 0;
      }

      &:last-child {
        padding: 0;
      }
    }
  }
}