
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

sub, sup {
	font-size:      75%;
	line-height:    0;
	position:       relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

a {
	overflow: auto;
	outline:  none;
}

input:not([type="checkbox"]):not([type="radio"]), textarea, select, button {
	box-sizing:    border-box;
	appearance:    none;

	&:focus {
		outline: none;
	}

	&::-moz-focus-inner {
		padding: 0;
		border:  none;
	}

	&::-webkit-focus-inner {
		padding: 0;
		border:  none;
	}
}

fieldset {
	border: 0 none;
}

textarea {
	resize: none;
}

br {
	margin:      0 !important;
	padding:     0 !important;
	font-size:   0 !important;
	line-height: 0 !important;
}