/**
 * Colors
 */
@color-a: #ffffff; // white
@color-b: #006666; // dark green
@color-c: #b0d400; // lime
@color-d: #878787; // dark gray (default font color)
@color-e: #f5f5f5; // light gray
@color-f: #dcdcdc; // medium gray
@color-g: #bfbfbf; // darkmedium gray

/**
 * Breakpoints
 *
 * Mobile first (under 321px is default)
 */
@screen-xs-min: 320px;
@screen-xs-max: 479px;
@screen-s-min: 480px;
@screen-s-max: 639px;
@screen-m-min: 640px;
@screen-m-max: 767px;
@screen-l-min: 768px;
@screen-l-max: 991px;
@screen-xl-min: 992px;
@screen-xl-max: 1279px;
@screen-xxl-min: 1280px;
